<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testMapper">  
  <select id="unit">
      SELECT * 
        FROM t_waa_unit
  </select>
  <select id="bmoa">
      SELECT * 
        FROM t_waa_bmoa
  </select>
  <select id="enemy_unit">
      SELECT * 
        FROM t_waa_enemy_unit
  </select>
  <select id="aircraft">
    SELECT * 
      FROM t_waa_aircraft
  </select>
  <select id="ship">
      SELECT * 
        FROM t_waa_ship
  </select>
  <select id="air_area">
      SELECT * 
        FROM t_waa_air_area
  </select>
  <select id="air_control">
      SELECT * FROM t_waa_air_control
  </select>
  <select id="air_type0">
    SELECT o.air_id as id , o.air_op_hei as height, a.unit_id as unit, a.air_name as name, a.geocd_lngt as lng, a.geocd_ltd as lat, a.unit_sbl_cd as sic FROM t_waa_aircraft a, t_waa_op_air o WHERE o.air_id = a.air_id
  </select>
  <select id="eo_line">
    SELECT * FROM t_waa_eo_line
  </select>
</mapper>