
.cesium-infoBox-description {
    font-family: sans-serif;
    font-size: 13px;
    padding: 4px 10px;
    margin-right: 4px;
    color: #052222;
    background-color: #ddd;
    a{
        &:link,&:visited,&:hover,&:active{
            color: #edffff;
        }
    }
    table{
        color: #edffff;
    }
}

.cesium-infoBox-defaultTable {
    width: 100%;
    color: #edffff;
    tr:nth-child(odd) {
        background-color: rgba(84, 84, 84, 0.8);
    }
    tr:nth-child(even) {
        background-color: rgba(84, 84, 84, 0.25);
    }
    th {
        font-weight: normal;
        padding: 3px;
        vertical-align: middle;
        text-align: center;
    }
    td {
        padding: 3px;
        vertical-align: middle;
        text-align: left;
    }
}

.cesium-infoBox-description-lighter {
    color: #000000;
    &:link,&:visited,&:hover,&:active{
        color: #000000;
    }
    table {
        color: #000000;
    }
}

.cesium-infoBox-defaultTable-lighter {
    width: 100%;
    color: #000000;
    tr:nth-child(odd) {
        background-color: rgba(179, 179, 179, 0.8);
    }
    tr:nth-child(even) {
        background-color: rgba(179, 179, 179, 0.25);
    }
}

.cesium-infoBox-loadingContainer {
    margin: 5px;
    text-align: center;
}

.cesium-infoBox-loading {
    display: inline-block;
    background-image: url(../Widgets/Images/info-loading.gif);
    width: 16px;
    height: 11px;
}
