<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testMapper">  
  <select id="unit">
      SELECT * 
        FROM t_waa_unit
  </select>
  <select id="bmoa">
      SELECT * 
        FROM t_waa_bmoa
  </select>
  <select id="enemy_unit">
      SELECT * 
        FROM t_waa_enemy_unit
  </select>
</mapper>