@import "define.scss";
article {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 400px;
    height: 400px;
    #door-handle {
        position: absolute;
        width: 15px;
        height: 50px;
        left: -1px;
        top: 100px;
        border-top: 1px solid $handleColor;
        border-right: 1px solid $handleColor;
        border-bottom: 1px solid $handleColor;
        background-color: $sectionBackgroundColor;
        color: #fff;
        z-index: 1;
        cursor: pointer;
        overflow: hidden;
        i {
            margin-top: 15px;
            font-size: 0.8em;
        }
    }
    #aside-handle {
        position: absolute;
        width: 15px;
        height: 19px;
        right: 0px;
        top: 0px;
        border-top: 1px solid $handleColor;
        border-left: 1px solid $handleColor;
        border-bottom: 1px solid $handleColor;
        background-color: $sectionBackgroundColor;
        color: #fff;
        z-index: 1;
        cursor: pointer;
        overflow: hidden;
        i {
            margin-top: 0px;
            font-size: 0.8em;
            vertical-align: top;
        }
    }
    .article-content {
        position: relative;
    }
}

@import "map3d.scss";