$handleColor:#b7b7b7;
$sectionBackgroundColor:#7c8198;
$sectionHeadHeight:70px;
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section {
    position: absolute;
    width: 200px;
    height: 600px;
    background-color: $sectionBackgroundColor;
    .section-head {
        background-color: #99a0bf;
        border-right: 1px solid $handleColor;
        height: $sectionHeadHeight;
        padding: 1em;
        .logo.icon {
            img {
                width: 2em;
            }
        }
        a {
            color: #fff;
            font-size: 1.6em;
            vertical-align: middle;
            b {
                margin-left: 1em;
            }
        }
    }
    .section-body {
        position: relative;
        .ui.sidebar {
            position: fixed;
            top: $sectionHeadHeight;
        }
        .sidebar.ui.inverted.pointing.menu {
            font-size: 0.8em;
            overflow: hidden;
            background: #6a6e82;
            
            width:75px;
            .item{
                padding: 10px 0px;
            }
            .active.item:after {
                background: $sectionBackgroundColor !important;
                
            }
            .active.item{
                i{
                    color: #ccfff3;
                }
            }
        }
        .section-view {
            margin-left: 80px;
            background-color: $sectionBackgroundColor;
            border-right: 1px solid $handleColor;
            position: absolute;
            padding: 5px 5px 5px 0px;
            font-size: 0.8em;
            overflow-y: auto;
            div.tab {
                display: none;
            }
            div.tab.active {
                display: unset;
                .search.icon {
                    cursor: pointer;
                }
            }
            .section-content {
                //font-size: 0.8em;
                table {
                    .bl {
                        border-left: 1px solid #e8e9e9;
                    }
                    .ui.ov-input>input{
                        padding:2px;
                    }
                }
                .accordion {
                    .title {
                        .i {
                            display: inline-block;
                        }
                        div {
                            display: inline-block;
                        }
                    }
                    .content {
                        max-height: 600px;
                        overflow-y: auto;
                    }
                }
                .ui.inline.top-gap{
                    margin-top:0.4em;
                }
                .ui.list {
                    .item {
                        display: inline-flex;
                    }
                }
                .pagination {
                    margin-top: 1em;
                    .ui.button {
                        font-size: 10px;
                        padding: 6px 7px;
                    }
                    .ui.button.btn_first,
                    .ui.button.btn_pre,
                    .ui.button.btn_next,
                    .ui.button.btn_last {
                        padding: 6px 0px;
                    }
                }
                .ui.sub.header{
                    font-size: 1em;
                    color: white;
                    margin-top: 0.4em;
                }
                .label{
                    color: white;
                    font-weight: 700;
                    margin-right: 0.5em;
                }
                
                select.ui{
                    padding: 0.2em;
                    height: 2em;
                    border-radius: 3px;
                    /*width: 100%;*/
                }
                .filetree{
                    background-color: #fff;
                    border:#ddd;
                    font-family: Verdana, helvetica, arial, sans-serif;
                    line-height: 1em;
                    height:300px;
                    overflow: scroll;

                    div.file {
                        cursor:pointer;
                        background: url(../libs/jquery-treeview/images/file.gif) 0 0 no-repeat;

                        &.clicked{
                            border: 1px dotted;
                            background-color: #00398f;
                            color: white;
                        }
                    }
                    div.folder {
                        cursor:pointer;
                        background: url(../libs/jquery-treeview/images/folder.gif) 0 0 no-repeat;
                    }
                    div.folder, div.file {
                        padding: 1px 0 1px 16px;
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    li.expandable{
                        div.folder {
                            background: url(../libs/jquery-treeview/images/folder-closed.gif) 0 0 no-repeat;
                        }
                    }

                }

                .ui.inline{
                    input{
                        display: inline;
                    }
                    span, div{
                        display: inline;
                        font-size: 1.2em;
                        color:yellow;
                        label{
                            display: inline;
                            color:white;
                        }
                    }
                    div.right{
                        float:right;
                    }
                }
                .ui.result{
                    background-color: #fff;
                    border:1px solid #ddd;
                    height:120px;
                }
                .demo-container {
                    color:#fff;
                    background-color: #303336;
                    border-radius: 5px;
                    padding: 5px;
                    margin: 5px 3px;
                }
            }
        }
    }
}

article {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 400px;
    height: 400px;
    #door-handle {
        position: absolute;
        width: 15px;
        height: 50px;
        left: -1px;
        top: 100px;
        border-top: 1px solid $handleColor;
        border-right: 1px solid $handleColor;
        border-bottom: 1px solid $handleColor;
        background-color: $sectionBackgroundColor;
        color: #fff;
        z-index: 1;
        cursor: pointer;
        overflow: hidden;
        i {
            margin-top: 15px;
            font-size: 0.8em;
        }
    }
}

header {
    position: absolute;
    padding: 3px;
    background-color: #414141;
    color: #fff;
    img {
        width: 34px;
        display: inline-block;
    }
    div {
        display: inline-block;
        font-size: 1.2em;
    }
    a.right {
        display: inline-block;
        i {
            float: right;
            width: 40px;
            height: 40px;
        }
    }
}


/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(202, 202, 202);
    color: rgb(49, 49, 49);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    left: 0px;
    top: -25px;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 10000;
}

.map-cesium{
    .cesium-infoBox {
        right:100px;
        .cesium-infoBox-description {
            font-family: sans-serif;
            font-size: 12px;
            padding: 4px 10px;
            margin-right: 4px;
            color: #2f2f2f;
            background: #fff;
        }
    }
}