html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section {
    position: absolute;
    width: 200px;
    height: 600px;
}

article {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 400px;
    height: 400px;
}

header {
    position: absolute;
    padding: 3px;
    background-color: #000;
    color: #fff;
    img {
        width: 34px;
        display: inline-block;
    }
    div {
        display: inline-block;
        font-size: 1.2em;
    }
    a.right {
        display: inline-block;
        i {
            float: right;
            width: 40px;
            height: 40px;
        }
    }
}

.ui.sidebar {
    position: unset;
}

.sidebar.ui.inverted.pointing.menu {
    font-size: 0.8em;
    overflow: hidden;
    .active.item:after {
        background: #ffffff !important
    }
}

.section-view {
    margin-left: 75px;
    background-color: #ddd;
    position: absolute;
    top: 0px;
}